* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* min-height: calc(100vh - 2 * 4vw); */
  background: #7087f7;
  font-family: "Comfortaa", cursive;
  overflow: hidden;
}

.container {
  width: 100%;
  position: relative;
  background: rgb(243, 239, 232);
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  top: 0;
}

.personal_info {
  height: 100%;
  padding: 20px;
  position: fixed;
  width: 25%;
  z-index: 2;
  border-right: 0.08rem solid #999;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.personal_info h1 {
  padding-top: 2rem;
  font-family: "Comfortaa", cursive;
  color: #000;
  font-weight: 700;
  font-size: 48px;
}

.personal_info a {
  text-decoration: none;
  color: #f7f5f7;
}

.personal_info p {
  text-align: center;
}

.personal_info_btn {
  border-radius: 10rem;
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  border: none;
  color: #f7f5f7;
  padding: 1rem 4.5rem;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  /* position: absolute; */
  top: 30rem;
  /* bottom: ; */
  left: 2.8em;
  right: 2.8em;
}

/* @media screen and (max-width: 991px) {
} */

.hamburger {
  font-variation-settings: "FILL" 0, "wght" 900, "GRAD" 0, "opsz" 48;
  border: none;
  cursor: pointer;
  margin-right: 20vw;
  margin-top: 5vh;
  background: none;
}

span.close_icon {
  display: none;
}

.menu {
  margin: 0;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s ease-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  list-style-type: none;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50px;
  align-items: center;
}

.menu li a {
  color: #f7f5f7;
}

.showMenu {
  transform: translateY(0);
}

.project_wrapper {
  position: relative;
  padding-left: 25.2%;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.project_wrapper h2 {
  padding: 3rem 2rem 3rem;
  /* background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  color: transparent;
  -webkit-background-clip: text; */
  text-transform: uppercase;
}

#foundations,
#application,
#visulization {
  border-bottom: 0.08rem solid #999;
}

.foundations_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 1rem 3rem;
}

.content_1,
.content_2,
.content_3,
.content_4 {
  border-radius: 1.5rem;
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  border: none;
  color: #f7f5f7;
  height: 50vh;
  margin-right: 1rem;
  /* text-align: center; */
}

.foundations_content h3 {
  padding-top: 1rem;
  font-size: 1rem;
  text-align: center;
}

.content_2_list {
  padding: 1rem;
}

.content_2_list a {
  font-size: 12px;
  text-decoration: none;
  color: #f7f5f7;
  cursor: pointer;
}
