* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* min-height: calc(100vh - 2 * 4vw); */
  background: #7087f7;
  font-family: "Comfortaa", cursive;
  /* overflow: hidden; */
}

.container {
  width: 100%;
  position: relative;
  transition: transform 0.2s;
  background: rgb(243, 239, 232);
}

.personal_info {
  height: 100%;
  padding: 20px;
  position: fixed;
  width: 25%;
  z-index: 2;
  border-right: 1px solid #999;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.personal_info h1 {
  padding-top: 2rem;
  font-family: "Comfortaa", cursive;
  color: #000;
  font-weight: 700;
  font-size: 48px;
}

.personal_info a {
  text-decoration: none;
  color: #f7f5f7;
}

.personal_info p {
  text-align: center;
}

.personal_info_btn {
  border-radius: 10rem;
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  border: none;
  color: #f7f5f7;
  padding: 1rem 4.5rem;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  /* position: absolute; */
  top: 30rem;
  /* bottom: ; */
  left: 2.8em;
  right: 2.8em;
}

.project_wrapper {
  position: relative;
  padding-left: 25%;
  width: 100%;
  z-index: 1;
  background: #f7f5f7;
}

.project_info {
  height: 100vh;
  border-bottom: 1px solid #999;
}

.project_wrapper h1 {
  padding-left: 5vw;
}

.project_1 {
  display: flex;
  flex-direction: row;
}
img {
  width: 20vw;
}
/* @media screen and (max-width: 991px) {
} */

.hamburger {
  font-variation-settings: "FILL" 0, "wght" 900, "GRAD" 0, "opsz" 48;
  border: none;
  cursor: pointer;
  margin-right: 20vw;
  margin-top: 5vh;
  background: none;
}

span.close_icon {
  display: none;
}

.menu {
  margin: 0;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  list-style: none;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 12vh;
  align-items: center;
}

.menu_item {
  color: #f7f5f7;
}

.showMenu {
  transform: translateY(-90%);
}

.roadmap_info h2 {
  padding: 1rem;
  /* background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  color: transparent;
  -webkit-background-clip: text; */
  text-transform: uppercase;
}
